#sketch-container{
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}
#info{
  width: 200px;
  padding: 10px;
}

canvas{
    border: 1px solid black;
    margin: 0 auto;
}

html, body {
  overflow-x: hidden;
  }
  body {
    position: relative;
  }